/* universal selector */
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: #354463;
}

a {
  text-decoration: none;
}
/* mobile view */
/* header */
.header-container {
  padding: 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.title {
  font-weight: bold;
  font-family: helvetica;
  font-size: 1.2rem;
  align-content:left;
}

.items_container ul {
  list-style: none;
  line-height: 1.5rem;
}

.button_container {
  width: 100%;
  min-height: 5vh;
  background-color: #c1f7d5;
  border-radius: 100px;
  text-align: center;
  align-content: center;
  margin: auto;
  margin-top: 1.2rem;
}
.button_container a{
  font-weight: bold;
}

/* issue section */
.issue-section {
  background-image: url("/assets/assets/about-us/annie-spratt-427339-unsplash@2x.png");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: cover;
  width: 100%;
  margin-top: 1rem;
  padding: 30px;
}
.title-content > p {
  font-family: Flood Std;
  color: #ffffff;
  font-size: 4rem;
  text-align: left;
  padding: 20px;
}
.title-content {
  margin-bottom: 5rem;
}
.legend {
  background-color: #354463;
  font-family: helvetica;
  color: #ffffff;
  margin: auto;
  text-align: center;
  align-content: center;
  width: 160px;
  height: 40px;
  position: relative;
  top: -1rem;
}

.content-container {
  background-color: #ffffff;
  width: 20rem;
  height: 17rem;
  margin: auto;
}
.content-container > p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 0 3rem;
}
.what-we-do-section {
  background-color: #354463;
  padding: 40px;
}

.what-we-do-section .legend {
  background-color: #ffffff;
  color: #354463;
  margin-bottom: 2rem;
}
.what-we-do-content {
  font-family: Helvetica;
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.item {
  align-self: left;
}
.item > img {
  width: 50px;
  height: 50px;
  margin: 0.5rem;
}
.item > h1 {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.item > p {
  color: #fff;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  column-gap: 1rem;
}
.team-title-container {
  color: #354463;
  margin: auto;
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.team-title-content {
  color: #354463;
  text-align: center;
  font-size: 1rem;
  margin: auto;
  padding-bottom: 2rem;
}
.our-section {
  padding: 40px;
}
.person > p {
  background-color: #354463;
  color: #ffffff;
  width: 140px;
  height: 50px;
  position: relative;
  top: -0.5rem;
  text-align: center;
  align-content: center;
  justify-self: center;
  font-size: 14px;
}
.peoples-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}
.person > img {
  width: 140px;
  height: 150px;
}
.our-section .legend {
  width: 10rem;
  height: 3rem;
}

/* our impact section  */
.out-impact-section {
  background: url("assets/assets/about-us/Impact\ Background.png");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: cover;
  background-color: #354463;
  opacity: 1;
  padding: 30px;
}
.out-impact-section > .legend {
  background-color: #ffffff;
  color: #354463;
  padding: 30px;
}
.caption {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 2rem;
  text-align: center;
}
.impacts > h1,
.impacts > p {
  color: #fff;
  text-align: center;
  width: 50%;
  margin: auto;
}
.impacts > h1 {
  font-family: Flood Std;
  font-size: 2.5rem;
  font-weight: 400;
}
.impacts > p {
  font-family: helvetica;
  font-weight: bold;
  padding-bottom: 1rem;
}
.impact-container {
  display: block;
  margin: auto;
  font-size: 16rem;
}

/* .lets-take-action */

.action-section {
  background-color: #354463;
  padding: 2rem;
}
.action-section-title {
  font-family: "Flood Std";
  text-align: center;
  color: #fff;
  font-size: 44px;
}

.main-card-container {
  overflow: hidden;
}
.card-container {
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.arrow {
  background-color: #c1f7d5;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 100%;
}
.action-header-part {
  position: relative;
  .arrow {
    position: absolute;
    right: -20px;
    bottom: -100%;
  }
}
.year-container {
  background-color: #fff;
  margin: auto;
  width: 60%;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  transform: translateY(1.5rem);
  font-size: 1rem;
}

.action-section-content-title {
  font-size: 1.5rem;
}
.action-section-content {
  font-size: 1rem;
  text-align: center;
}
.action-card-container {
  font-family: Helvetica;
}

.future-img {
  width: 100%;
}
.action-title-card {
  transform: translateY(-5%);
  background-color: #ffffff;
  padding: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: #354463;
}

.action-section-content-title {
  padding-bottom: 1.5rem;
}
.action-section-content {
  font-size: 1rem;
  line-height: 1.5;
}

.read-more-btn {
  width: 60%;
  background-color: #c1f7d5;
  padding: 1rem;
  border-radius: 50px;
  margin-top: 2rem;
  color: #354463;
  border: none;
}

.subscribe-section {
  padding: 40px;
  background-color: #c1f7d5;
  padding: 40px;
}

/* subscribe section */
 .Subscribe-Note {
  font-size: 1.3rem;
  color: #354463;
  margin-bottom: 30px;
}
.subscribe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.email_input[placeholder] {
  color: #354463;
  text-align: center;
}
 .email_input {
  width: 12rem;
  height: 5vh;
  border-radius: 100px;
  border: none;
  text-align: center;
}
.email {
  display: flex;
  justify-content: space-around;
}
.subscribe-section  a {
  color: #c1f7d5;
}
 .Subscribe-btn {
  width: 30%;
  height: 5vh;
  background-color: #354463;
  color: #ffffff;
  border-radius: 100px;
  text-align: center;
  align-content: center;
}
/* footer section */
.slogan_container p {
  color: #354463;
  font-family: "Flood std";
  font-size: 3rem;
}
.footer-section {
  color: #354463;
}
.footer-container {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3em;
  row-gap: 20px;
}
.title_container {
  color: #354463;
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  width: 94px;
}
.footer-section a {
  color: #354463;
}

.slogan_container {
  grid-area: 3/2;
}
.slogan_container p {
  font-size: 2.1rem;
  font-weight: bold;
  justify-content: center;
  text-align: right;
}
ul li {
  list-style-type: none;
}

ul {
  padding-top: 1rem;
}

/* desktop */

@media (min-width: 1040px) {
  .container{
    max-width: 1100px;
    margin: auto;
  }
  .header-container {
    padding: 0;
  }
  .nav-container {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .title {
    margin-top: 1rem;
     font-size: 2rem;
  }
  .nav-container .items_container ul {
    display: flex;
    justify-content: space-around;
    padding-top: 1.3rem;
  }

  .items_container ul {
    font-size: 1.3rem;
  }
  .header-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .button_container {
    width: 10rem;
    height: 3rem;
    margin-right: 0;
    margin-top: 1.5rem;
  }

  .issue-container {
    display: flex;
    justify-content: space-between;
  }
  .title-content > p {
    padding-left: 0rem;
    padding-top: 2rem;
    font-size: 4.5rem;
  }
  .issue-section .legend {
    top: -2rem;
    left: -7rem;
  }
  .content-container {
    width: 36rem;
    height: 23rem;
    padding: 1rem;
    position: relative;
    top: 8rem;
    margin: 0;
  }
  .content-container > p {
    text-align: left;
    font-size: 2rem;
  }
  .our-section .legend {
    padding-top: 10rem;
  }
  .what-we-do-section {
    padding-top: 10rem;
  }
  .what-we-do-section .legend {
    margin: 0;
  }
  .items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
  }
  .item > h1 {
    font-size: 1.9rem;
  }
  .item > p {
    font-size: 1rem;
    width: 15rem;
  }
  .what-we-do-content {
    font-size: 2.8rem;
    text-align: left;
    padding-bottom: 5rem;
  }
  /* our team  */
  .our-section {
    padding: 0;
    margin: 0;
    padding-top: 5rem;
  }
  .our-section .legend {
    margin: 0;
    padding: 0;
  }
  .flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .team-title-container {
    text-align: left;
    font-size: 2.75rem;
  }
  .team-title-content {
    font-family: helvetica;
    font-size: 1.25rem;
    width: 29rem;
    height: 5rem;
    text-align: left;
  }
  .peoples-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
  }
  .person > p {
    position: relative;
    left: 2rem;
    top: -2rem;
    width: 20rem;
    text-align: center;
    align-content: center;
    font-size: 1rem;
  }
  .person > img {
    width: 20rem;
    height: 20rem;
  }
  .person > p > br {
    display: none;
  }

  /* our impact */
  .out-impact-section > p {
    font-size: 2.8rem;
    text-align: center;
    width: 37.81rem;
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
  .impact-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
  .impacts > h1 {
    font-size: 3.5rem;
  }
  .impacts > p {
    font-size: 1.6rem;
    width: 80%;
  }
  /* take-action */
  .card-container {
    width: 100%;
    gap: 5rem;
  }
  .action-section-title {
    text-align: start;
    margin-left: 2rem;
    font-size: 5rem;
  }
  .action-header-part .arrow {
    bottom: 0;
    right: 0;
  }
  .read-more-btn {
    height: 40px;
    width: 10rem;
    font-size: 1rem;
    align-content: center;
    padding: 0;
    border: none;
  }

  /* newsreader */

  .subscribe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
  }

  .Subscribe-Note {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0;
  }
   .email_input {
    width: 15rem;
    text-align: center;
  }
   .Subscribe-btn {
    background-color: #354463;
    width: 10rem;
  }
  .Subscribe-btn > a {
    color: #c1f7d5;
  }
  .email {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-section {
    display: block;
    padding: 5rem 0;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    padding: 0;
  }
  
  .slogan_container {
    grid-area: 1/5;
  }
  .slogan_container > p {
    font-size: 2.5rem;
    font-family: flood std;
    font-weight: 400;
  }
  .title_container {
    font-size: 1.4rem;
    width: 150px;
  }
  .ul-headings {
    border-bottom: 1px solid black;
  }
}
